DB_USER=db_user
DB_PWD=db_password
DB_HOST=db_host
DB_NAME=db_name


#Without replica Set
DB_URI=mongodb://db_user:db_password@host:port/database

#With replica Set
DB_URI=mongodb://db_user:db_password@host1,host2,host3/?replicatSet=replicat-set-name&readPreference=secondary


AMQP_IP=amqp_Host
AMQP_PORT=amqp_port
AMQP_LOGIN=amqp_user
AMQP_PWD=amqp_password
AMQP_SEND_QUEUE=queue_name